<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>
   {{>header}}
    

   <p>This website is the demonstration of Deep convolution generative adversarial network. <br>
   	For more information about this project, visit <a href="https://github.com/prakhar-srivastav/C-9P"> this</a>.  </p>

  

   {{>footer}}
</body>
</html>