<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>
   {{>header}}
    

   <p>This website is the demonstration of Deep convolution generative adversarial network.<br>
   	This model is a part of the project. The entire pipeline is shown below <br>
   </p>
   <br>
   <br>
   <br>
   <img src="./img/final.jpeg" width="500"  height="300">

  

   {{>footer}}
</body>
</html>